@charset "utf-8";

section {width: 100%; height: auto; background-color: lightgray;}

#main_container {width: 950px; height: 720px; margin: 0 auto; background-color: lightblue;}

#category {width: 100%; height: 6%; background-color: aqua; border-bottom: 1px solid #ccc;}
#category > ul > li {float: left; padding-top: 12px; padding-right: 12px;}
#category > ul > li > a {text-decoration: none; color: #000;}

#main_book {width: 100%; height: 94%; background-color: darkkhaki; display: flex;}

#book {width: 30%; height: 100%; background-color: darkorange; padding-top: 40px; }
#book > .box {width: 198px; height: 297px; background-color: darkblue; margin: 0 auto;}
#book > .box > img {width: 100%; height: 100%;}
#book > ul {display: flex; flex-direction: row; justify-content: center; padding-top: 10px;}
#book > ul > li {float: left; padding: 0 10px 10px; font-size: 13px;}
#book > span {background-color: #fff; border: 1px solid #ccc; display: inline-block; width: 198px; height: 30px; font-size: 13px; text-align: center; margin-left: 44px; padding-top: 5px;}
#other {width: 198px; height: auto; background-color: pink; margin: 20px auto; padding-bottom: 10px; border: 1px solid #ccc; }
#other > h5 {padding: 10px 0; text-align: center;}
#other > hr {margin-bottom: 5px;}
#other > span {padding-left: 15px; font-size: 13px;}

#book_info {width: 70%; height: 100%; background-color: lightseagreen;}

#title {width: 100%; height: auto; background-color: lightblue; padding: 40px 0 30px 0; display: flex; flex-direction: column; border-bottom: 1px solid #ccc;}
#title > ul > li {float: left; margin-right: 5px;}
#title > .author > li {padding: 10px 0; font-size: 13px;}
#title > .author > li:after {content: "|"; margin-left: 5px;}
#title > .author > li:last-child:after {content: "";}
#title > span {font-size: 13px;}
#title > span > i {color: lightseagreen;}

#price {width: 100%; height: auto; background-color: pink; display: flex;}
.price_wrap {width: 70%; height: auto; padding: 30px 0; background-color: lightsalmon; display: flex; flex-direction: column;}
.price_wrap > span {font-size: 13px;}
.price_wrap > span > .red {font-size: 25px; color: tomato;} 
.price_wrap > .tab {margin-left: 37px;}

.price_side_event {width: 30%; height: auto; padding: 30px; background-color: darkorange; display: flex; flex-direction: column;}
.price_side_event > span {font-size: 13px;  }
.price_side_event > span:last-child:before {content: "ã†"; font-size: 20px; }

#delivery {width: 100%; height: auto; padding: 30px 0; background-color: lightcyan; display: flex; flex-direction: column;}
#delivery > span {font-size: 13px;}

#order {width: 100%; height: auto; background-color: lightpink; padding: 30px 0;}
#order > span {font-size: 13px;}
#button {width: 100%; height: 40px; background-color: lightblue; margin-top: 20px; display: flex; flex-direction: row; justify-content: space-between;}
#button > button {font-size: 16px; width: 120px; height: 40px; color: #000; }
#button > button:first-child {background-color: #5e6b9f; color: #fff; border: 0;}
#button > button:nth-child(2) {background-color: #7b8ed1; color: #fff; border: 0;}
